@use 'vuetify/settings' with (
  $overlay-opacity: 0.5,
  $overlay-scrim-background: #000,
  $card-hover-elevation: 0,
);

.v-overlay.v-dialog {
  backdrop-filter: blur(5px);
}
.add-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.v-data-table-header {
  &__content {
    span:first-child {
      margin-right: auto;
    }
  }
}
.close-dialog {
  position: absolute;
  top: 0;
  right: 0;
}
.text-trunc-disable {
  white-space: normal;
}
.v-card {
  --v-hover-opacity: 0;
  --v-shadow-key-umbra-opacity: rgba(0, 0, 0, 0.05);

  &:hover {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  }
}

.text-break {
  white-space: break-spaces;
}

.readonly .v-field--variant-solo-filled.v-field--focused .v-field__overlay {
  --v-focus-opacity: var(--v-hover-opacity);
}